## fully import the required base packages and the survival framework
import(graphics, stats, survival)

## bootstrapping facilities
importFrom(boot, boot, boot.ci)

## which functions shall be accessible by the users?
export(
    Aalpha,
    agresti,
    AUCbinorm,
    BlandAltman,
    clopperPearson,
    computeICCrater,
    confIntAUC,
    confIntAUCbinorm,
    confIntFisherTrafo,
    confIntICC,
    confIntIndependentProportion,
    confIntKappa,
    confIntKM_t0,
    confIntMedian,
    confIntPairedProportion,
    confIntProportion,
    confIntRiskDiff,
    ConvertWeibull,
    faganLine,
    faganPlot,
    formatCI,
    formatPercent,
    formatPval,
    ilogit,
    jeffrey,
    lamAlpha,
    logit,
    mantelCoxHR,
    mantelHaenszel,
    populationSamplePlot,
    quantileCumInc,
    quantileKM,
    rootFct,
    sampleSizeMcNemar,
    sampleSizePhase2BinaryTest,
    sampleSizePhase2BinaryTestSimulated,
    sampleSizeWilcoxTwoSample,
    survrep,
    tableRegression,
    wald,
    WeibullDiag,
    WeibullReg,
    wilson
)
